@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"; 

html {
  background-color: #EB0523;
  height: 100vh;
  width: 100vw;
}

body {
    font-family: 'Dosis', sans-serif;

}

.card {
  text-align: center;
  box-shadow: 10px 10px 15px black;
  transition: transform .2s;
}

.card:hover {
  -ms-transform: scale(1.25);
  -webkit-transform: scale(1.25);
  transform: scale(1.25);
}

.field.has-addons {
  height: 10vh;
  width: 25vw;
  border-radius: 5px;
  background-color: #EBBE34;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 10px 10px 15px black;
}

